//base
@import './base/fonts';
@import './base/color';

// components
@import './components/menu';
@import './components/popup';
@import './components/paper';
@import './components/photo';
@import './components/video';

body {
  margin: 0;
  overflow: hidden;
  margin-left: 8px;
  margin-right: 8px;
}

button {
  outline: none;
}

h1, h2, ul, p {
  color: $blanc;
}
h1 {
  font-family: $Francois-One;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 2px;
}
h2 {
  font-family: $Source-Sans-Pro-Bold;
  font-size: 24px;
}
p {
  font-family: $Source-Sans-Pro-Regular;
  font-size: 16px;
}
.description {
  text-align: justify;
}
.title {
  margin-bottom: 0;
}

.top-navigation {
  position: relative;
}

.block-content {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  &__left {
    width: 35vw;
  }
  &__middle {
    padding-top: 10vh;
    margin-right: 22vw;
  }
}

.chapter-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.content-wrapper {
  margin-left: 55px;
  margin-right: 55px;
}
.underwear {
  background: url('../src/images/bg-sous-vetements.png') no-repeat fixed center;
  background-size: cover;
}

.bikini {
  background: url('../src/images/bg-bikini.png') no-repeat fixed center;
  background-size: cover;
}

.pantalon {
  background: url('../src/images/bg-pantalon.png') no-repeat fixed center;
  background-size: cover;
}

.mini-jupe {
  background: url('../src/images/bg-mini-jupe.png') no-repeat fixed center;
  background-size: cover;
}

.destroy {
  background: url('../src/images/bg-destroy.png') no-repeat fixed center;
  background-size: cover;  
}

.jupe-homme {
  background: url('../src/images/bg-jupe-homme.png') no-repeat fixed center;
  background-size: cover; 
}
main.wrapper {
  flex:1;
}


// RESPONSIVE

@media screen and (max-width: 960px) {
  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .block-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  &__left {
    width: 80vw;
    margin-left: -60px;
  }
  &__middle {
    margin-left: 40%;
    transform: translate(-30%,0);
  }
}

.picto-container {
  margin-bottom: 40px;
}

}