//base
@import './base/fonts';
@import './base/color';

// components
@import './components/menu';

h1, h2, ul, p {
  color: $blanc;
}
h1 {
  font-family: $Francois-One;
  font-size: 60px;
}
h2 {
  font-family: $Source-Sans-Pro-Bold;
  font-size: 24px;
}
p {
  font-family: $Source-Sans-Pro-Regular;
  font-size: 16px;
}

.top-navigation {
  position: relative;
}

.underwear {
  background: url('../src/images/bg-sous-vetements.png') no-repeat fixed center;
  background-size: cover;
}