//base
@import './base/fonts';
@import './base/color';

// components
@import './components/menu';
@import './components/popup';

h1, h2, ul, p {
  color: $blanc;
}
h1 {
  font-family: $Francois-One;
  text-transform: uppercase;
  font-size: 60px;
}
h2 {
  font-family: $Source-Sans-Pro-Bold;
  font-size: 24px;
}
p {
  font-family: $Source-Sans-Pro-Regular;
  font-size: 16px;
}
.description {
  width: 50%;
  text-align: justify;
}
.title {
  margin-bottom: 0;
}

.top-navigation {
  position: relative;
}

.underwear {
  background: url('../src/images/bg-sous-vetements.png') no-repeat fixed center;
  background-size: cover;
}