doctype html
html
  head
    meta(charset="UTF-8")
    title
    link(rel="stylesheet" href="style.scss")
    link(href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet")
  body
    .popup
      button#cross(type="button")
        span.cross-bar
      h1 RESEAUX SOCIAUX
      #popup-content-rs.popup-content
        .popup-content-rs-div
          a(href="#")
            img.img-rs(src="images/facebook.png" alt="notre page facebook")
            p FACEBOOK
        .popup-content-rs-div
          a(href="#")
            img.img-rs(src="images/twitter.png" alt="notre page facebook")
            p TWITTER
        .popup-content-rs-div
          a(href="#")
            img.img-rs(src="images/instagram.png" alt="notre page facebook")
            p INSTAGRAM
