include ../components/popup.pug


+popup (about)
+popup (credits)
+popup (rs)
footer.wrapper 
  .footer-element
    img#footer-img(src="../src/images/logo-decode-white.png")
  .footer-element
    p#footer-element-copyright © 2018 DIMIC
  .footer-element
    ul.menu-list.menu-credits
      li.menu-element Accessibilité
      li.menu-element A Propos
      li.menu-element Crédits
      li.menu-element RS

block scripts
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  script(src='/build/main.min.js')