include ../components/popup.pug


+popup (about)
+popup (credits)
+popup (rs)
footer.wrapper 
  ul.credit-element
    li.credit-item © DIMIC 2018
    li.credit-item Crédits
    li.credit-item Mentions légales

block scripts
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  script(src='/build/main.min.js')