include ../components/popup.pug


+popup("about")
+popup("credits")
+popup("rs")
+popup("accessibility")
footer.wrapper 
  .footer-element
    a.logo-link(href="../../index.html")
      img#logo-img(src="../src/images/logo-decode.png")
      img#logo-img-white(src="../src/images/logo-decode-white.png" alt="logo de decode")
      
  .footer-element
    p#footer-element-copyright © 2018 DIMIC
  .footer-element
    ul.menu-list.menu-credits
      li.menu-element#js-popup-accesibility Accessibilité
      li.menu-element#js-popup-about A Propos
      li.menu-element#js-popup-credit Crédits
      li.menu-element#js-popup-rs RS