include ../components/popup.pug


+popup (about)
+popup (credits)
+popup (rs)
+popup (accessibility)
footer.wrapper 
  .footer-element
    a(href="../../index.html")
      img#footer-img(src="../src/images/logo-decode-white.png")
  .footer-element
    p#footer-element-copyright © 2018 DIMIC
  .footer-element
    ul.menu-list.menu-credits
      li.menu-element Accessibilité
      li.menu-element A Propos
      li.menu-element Crédits
      li.menu-element RS