head
	meta(charset='UTF-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=1200')
	link(rel='shortcut icon' href="favicon.ico")
	block title
		title Default Title
	style
		include ../../styles/default.css
	block styles
		link(href="/styles/main.css", rel="stylesheet")