header
	ul.menu-list
		li.menu-element français
		li.menu-element english
		li.menu-element español
		li.menu-element العربي
		li.menu-element 日本の

	button(class="burger-menu" type="button")
		span.bar