header.top-navigation
	ul.menu-list
		li.menu-element français
		li.menu-element english
		li.menu-element español
		li.menu-element العربي
		li.menu-element 日本の

	button(class="burger-menu" type="button")
		span.bar
	nav(class="menu-left" id="menu-navigation")
		.menu-title-top CHAPITRES
		.menu-content
			ul.menu-left-list
				li LE SOUS VETEMENT
				li LE BIKINI
				li LE PANTALON
				li LA MINI JUPE
				li LES PIECES DESTROY
				li LA JUPE POUR HOMME
		