header.top-navigation
	ul.menu-list
		li.menu-element français
		li.menu-element english
		li.menu-element español
		li.menu-element العربي
		li.menu-element 日本の

	button(class="burger-menu" type="button")
		span.bar
	nav.menu-left
		#menu-chapitres CHAPITRES
		ul.menu-left-list
			li.menu-left-item LE BIKINI
			li.menu-left-item LA MINI JUPE
			li.menu-left-item LE PANTALON
			li.menu-left-item LA JUPE POUR HOMME
			li.menu-left-item LES PIECES DESTROY
			li.menu-left-item LE SOUS VETEMENT
		#menu-introduction Revenir à l'introduction