header
	ul.menu-list
		li.menu-element français
		li.menu-element english
		li.menu-element español
		li.menu-element العربي
		li.menu-element 日本の

	button(class="burger-menu" type="button")
		span.bar
	nav
		.menu-element(id="menu-chapitres") CHAPITRES
		ul
			li LE BIKINI
			li LA MINI JUPE
			li LE PANTALON
			li LA JUPE POUR HOMME
			li LES PIECES DESTROY
			li LE SOUS VETEMENT
		
		.menu-element(id="menu-introduction") Revenir à l'introduction