header.top-navigation
	ul.menu-list
		li.menu-element français
		li.menu-element english
		li.menu-element español
		li.menu-element العربي
		li.menu-element 日本の

	button(class="burger-menu" type="button")
		span.bar
	nav(class="menu-left" id="menu-navigation")
		.menu-title-top 
			a(href="../../summary.html") CHAPITRES
		.menu-content
			ul.menu-left-list
				li 
					a(href='../../underwear.html') LE SOUS VETEMENT
				li 
					a(href='../../bikini.html') LE BIKINI
				li 
					a(href='../../pantalon.html') LE PANTALON
				li 
					a(href='../../mini-jupe.html') LA MINI JUPE
				li 
					a(href='../../destroy.html') LES PIECES DESTROY
				li 
					a(href='../../jupe-homme.html') LA JUPE POUR HOMME
		