extends ../layout/layout-2.pug

include ../components/popup.pug

block title
  title DECODE - Les pièces destroy

append styles
  //- additional styles
  link(href="./styles/pages/destroy.min.css", rel="stylesheet")

block vars
  //- variables
  - var bodyClass = 'destroy'
  - var withHeader = 'true'



block content
  //- page content
  .content-wrapper
    h1.title les pièces destroy
    .block-content.flex  
      .block-content__left
        p.description Au cours des années 50, ces vêtements ont connu une envergure internationale en tant que signes de rébellion pour exprimer des idées contestataires de l’ordre social.  
        .anchor-destroy 
          img.anchor-destroy-img(src="src/images/destroy/pin.svg")
          img.anchor-destroy-hover(src="src/images/destroy/pin-hover.png")
      .block-content__middle    
        .picto-container
          img.picto-pin(src="src/images/destroy/safety-pin.svg" alt="")
          .picto-element-destroy.picto-element-destroy__photo#js-picto-photo
            img.picto(src="src/images/picto-photo-dashed.svg" alt="")
            img.picto-hover(src="src/images/picto-photo-dashed-hover.svg" alt="")
          .picto-element-destroy.picto-element-destroy__paper#js-picto-paper
            img.picto(src="src/images/picto-paper-dashed.svg" alt="")
            img.picto-hover(src="src/images/picto-paper-dashed-hover.svg" alt="")
          .picto-element-destroy.picto-element-destroy__camera#js-picto-video
            img.picto(src="src/images/picto-camera-dashed.svg" alt="")
            img.picto-hover(src="src/images/picto-camera-dashed-hover.svg" alt="")
     
  +popup("paper")
    h3.title le mouvenemnt punk et le destroy
    p.text Contester l’ordre politique et social a été l’objectif principal des créateurs des pièces destroys. De nos jours, ces vêtements connaissent une nouvelle envergure : des pièces fortes qui habilleront nos tenues avec leurs coupes délavées, slim et zippées aux chevilles.  
    p.text Les pièces destroys conviennent parfaitement au goût vestimentaire de cette nouvelle génération. Les déchirures et trous se font manuellement.  
  +popup("photo") 
    .slide-container
      .slide-element
        img.popup-img(src="src/images/destroy/popup-destroy-1.jpg")
        .popup-caption 
          p Les Sex Pistols, groupe punk anglais
      .slide-element
        img.popup-img(src="src/images/destroy/popup-destroy-2.jpg")
        .popup-caption 
          p La mode punk dans les années 1980
  +popup("video") 
    .slideshow  
      .slide.visible
        .video-container
         <iframe width="560" height="315" src="https://www.youtube.com/embed/xB3nfGnIHrk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      .slide.hidden
        .video-container
         <iframe width="560" height="315" src="https://www.youtube.com/embed/Q9KQ6Nhrzps" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
   
append scripts
  //-additional scripts
