extends ../layout/layout-2.pug

include ../components/popup.pug

block title
  title DECODE - Les pièces destroy

append styles
  //- additional styles
  link(href="./styles/pages/destroy.min.css", rel="stylesheet")

block vars
  //- variables
  - var bodyClass = 'destroy'
  - var withHeader = 'true'



block content
  //- page content
  .content-wrapper
    h1.title.toTranslate(data-translationid="chapter5_title" data-translationtype="html") les pièces destroy
    .block-content.flex  
      .block-content__left
        p.description.toTranslate(data-translationid="chapter5_description" data-translationtype="html") Au cours des années 50, ces vêtements ont connu une envergure internationale en tant que signes de rébellion pour exprimer des idées contestataires de l’ordre social.  
        .anchor-destroy 
          img.anchor-destroy-img(src="src/images/destroy/pin.svg" alt=" ")
          img.anchor-destroy-hover(src="src/images/destroy/pin-hover.png" alt=" ")
      .block-content__middle    
        .picto-container
          img.picto-pin(src="src/images/destroy/safety-pin.svg" alt=" ")
          .picto-element-destroy.picto-element-destroy__photo#js-picto-photo
            img.toTranslate.picto(src="src/images/picto-photo-dashed.svg" data-translationid="alt-btn-photo" data-translationtype="alt" alt="voir les ressources visuelles")
            img.toTranslate.picto-hover(src="src/images/picto-photo-dashed-hover.svg" data-translationid="alt-btn-photo" data-translationtype="alt" alt="voir les ressources visuelles")
          .picto-element-destroy.picto-element-destroy__paper#js-picto-paper
            img.toTranslate.picto(src="src/images/picto-paper-dashed.svg" data-translationid="alt-btn-text" data-translationtype="alt" alt="lire la description")
            img.toTranslate.picto-hover(src="src/images/picto-paper-dashed-hover.svg" data-translationid="alt-btn-text" data-translationtype="alt" alt="lire la description")
          .picto-element-destroy.picto-element-destroy__camera#js-picto-video
            img.toTranslate.picto(src="src/images/picto-camera-dashed.svg" data-translationid="alt-btn-video" data-translationtype="alt" alt="voir les vidéos")
            img.toTranslate.picto-hover(src="src/images/picto-camera-dashed-hover.svg" data-translationid="alt-btn-video" data-translationtype="alt" alt="voir les vidéos")
     
  +popup("paper")
    h2.title.toTranslate(data-translationid="chapter5_long-text_title" data-translationtype="html") le mouvenemnt punk et le destroy
    p.text.toTranslate(data-translationid="chapter5_long-text_paragraph1" data-translationtype="html") Contester l’ordre politique et social a été l’objectif principal des créateurs des pièces destroys. De nos jours, ces vêtements connaissent une nouvelle envergure : des pièces fortes qui habilleront nos tenues avec leurs coupes délavées, slim et zippées aux chevilles.  
    p.text.toTranslate(data-translationid="chapter5_long-text_paragraph2" data-translationtype="html") Les pièces destroys conviennent parfaitement au goût vestimentaire de cette nouvelle génération. Les déchirures et trous se font manuellement.  
  +popup("photo") 
    .slide-container
      .slide-element
        img.popup-img(src="src/images/destroy/popup-destroy-1.jpg" alt=" ")
        .popup-caption 
          p.toTranslate(data-translationid="chapter5_image_label1" data-translationtype="html") Les Sex Pistols, groupe punk anglais
      .slide-element
        img.popup-img(src="src/images/destroy/popup-destroy-2.jpg" alt=" ")
        .popup-caption 
          p.toTranslate(data-translationid="chapter5_image_label2" data-translationtype="html") La mode punk dans les années 1980
  +popup("video") 
    .slide-container
      .slide-element
        .video-container
         iframe.toTranslate(data-translationid="chapter5_video_src1" data-translationtype="src" width="560" height="315" src="https://www.youtube.com/embed/xB3nfGnIHrk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
      .slide-element
        .video-container
         iframe.toTranslate(data-translationid="chapter5_video_src2" data-translationtype="src" width="560" height="315" src="https://www.youtube.com/embed/Q9KQ6Nhrzps" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
   
append scripts
  //-additional scripts
