extends ../layout/layout-2.pug

include ../components/popup.pug

block title
  title DECODE - Les pièces destroy

append styles
  //- additional styles
  link(href="./styles/pages/destroy.min.css", rel="stylesheet")

block vars
  //- variables
  - var bodyClass = 'destroy'
  - var withHeader = 'true'



block content
  //- page content
  .content-wrapper
    h1.title les pièces destroy
    .block-content.flex  
      .block-content__left
        p.description Au cours des années 50, ces vêtements ont connu une envergure internationale en tant que signes de rébellion pour exprimer des idées contestataires dans l’ordre social.  
        .anchor-destroy 
          img.anchor-destroy-img(src="src/images/destroy/pin.svg")
          img.anchor-destroy-hover(src="src/images/destroy/pin-hover.png")
      .block-content__middle    
        .picto-container
          img.picto-pin(src="src/images/destroy/safety-pin.svg" alt="")
          .picto-element-destroy.picto-element-destroy__photo
            img.picto(src="src/images/picto-photo-dashed.svg" alt="")
            img.picto-hover(src="src/images/picto-photo-dashed-hover.svg" alt="")
          .picto-element-destroy.picto-element-destroy__paper#js-picto-paper
            img.picto(src="src/images/picto-paper-dashed.svg" alt="")
            img.picto-hover(src="src/images/picto-paper-dashed-hover.svg" alt="")
          .picto-element-destroy.picto-element-destroy__camera
            img.picto(src="src/images/picto-camera-dashed.svg" alt="")
            img.picto-hover(src="src/images/picto-camera-dashed-hover.svg" alt="")
      .block-content__right
  +popup("paper")
    h3.title petite histoire de la mini-jupe
    p.text Courte, sexy, cette jupe est un vêtement décliné en différents modèles variés : évasée, moulante, droite, plissée, imprimée...   
    p.text Accordée avec une paire de chaussures à talons, la mini-jupe met en valeur les jambes des femmes. Elle s’adapte également à toute les morphologies grâce à ses différentes coupes. 
    
append scripts
  //-additional scripts
