extends ../layout/layout-2.pug

include ../components/popup.pug

block title
  title DECODE - La jupe pour homme

append styles
  //- additional styles
  link(href="./styles/pages/jupe-homme.min.css", rel="stylesheet")

block vars
  //- variables
  - var bodyClass = 'jupe-homme'
  - var withHeader = 'true'



block content
  //- page content
  .content-wrapper
    h1.title la jupe pour homme
    .block-content.flex  
      .block-content__left
        p.description Au XVI ème siècle, les hommes commencent à porter des tuniques avec des collants. Puis, au XVIIIème siècle, précisément en 1727, naît le kilt. C’est une jupe d'origine danoise popularisée par les guerriers Vikings.  
        .anchor-jh 
          img.anchor-jh-img(src="src/images/jupe-homme/anchor.svg")
          img.anchor-jh-hover(src="src/images/jupe-homme/anchor-hover.png")
      .block-content__middle    
        .picto-container
          img.picto-tartan(src="src/images/jupe-homme/tartan.svg" alt="")
          .picto-element-jh.picto-element-jh__photo
            img.picto(src="src/images/jupe-homme/photo-camera.svg" alt="")
            img.picto-hover(src="src/images/jupe-homme/photo-camera-hover.png" alt="")
          .picto-element-jh.picto-element-jh__paper#js-picto-paper
            img.picto(src="src/images/jupe-homme/paper.svg" alt="")
            img.picto-hover(src="src/images/jupe-homme/paper-hover.png" alt="")
          .picto-element-jh.picto-element-jh__camera
            img.picto(src="src/images/jupe-homme/video-camera.svg" alt="")
            img.picto-hover(src="src/images/jupe-homme/video-camera-hover.png" alt="")
      .block-content__right
  +popup("paper")
    h3.title La jupe... au masculin ?
    p.text Sur leur lieu de travail, dans la rue, dans les centres commerciaux… une femme en pantalon passe inaperçue.  Pourtant, nous ne pouvons en dire autant pour un homme en jupe.   
    p.text La jupe a toujours été considérée comme un vêtement dédié aux femmes. Encore aujourd’hui, voir un homme en jupe choque, même si des marques de vêtements comme Zara commercialisent des jupes pour homme. 
    
append scripts
  //-additional scripts
