extends ../layout/layout-2.pug

include ../components/popup.pug

block title
  title DECODE - La mini-jupe

append styles
  //- additional styles
  link(href="./styles/pages/mini-jupe.min.css", rel="stylesheet")

block vars
  //- variables
  - var bodyClass = 'mini-jupe'
  - var withHeader = 'true'



block content
  //- page content
  .content-wrapper
    h1.title.toTranslate(data-translationid="chapter4_title" data-translationtype="html") la mini-jupe
    .block-content.flex  
      .block-content__left
        p.description.toTranslate(data-translationid="chapter4_description" data-translationtype="html") Début du 20ème siècle, la jupe se raccourcit. Dans les années 60, en Angleterre apparaît la mini-jupe. C'est Marie Quant, styliste anglaise qui la propulse. 
        .anchor-mini-jupe  
          img.anchor-mj-img(src="src/images/mini-jupe/oval.svg" alt=" ")
          img.anchor-mj-hover(src="src/images/mini-jupe/oval-hover.png" alt=" ")
      .block-content__middle    
        .picto-container
          img.picto-broderie(src="src/images/mini-jupe/broderie.svg" alt=" ")
          .picto-element-mj.picto-element-mj__photo#js-picto-photo
            img.toTranslate.picto(src="src/images/picto-photo-dashed.svg" data-translationid="alt-btn-photo" data-translationtype="alt" alt="voir les ressources visuelles")
            img.toTranslate.picto-hover(src="src/images/picto-photo-dashed-hover.svg" data-translationid="alt-btn-photo" data-translationtype="alt" alt="voir les ressources visuelles")
          .picto-element-mj.picto-element-mj__paper#js-picto-paper
            img.toTranslate.picto(src="src/images/picto-paper-dashed.svg" data-translationid="alt-btn-text" data-translationtype="alt" alt="lire la description")
            img.toTranslate.picto-hover(src="src/images/picto-paper-dashed-hover.svg" adata-translationid="alt-btn-text" data-translationtype="alt" lt="lire la description")
          .picto-element-mj.picto-element-mj__camera#js-picto-video
            img.toTranslate.picto(src="src/images/picto-camera-dashed.svg" data-translationid="alt-btn-video" data-translationtype="alt" alt="voir les vidéos")
            img.toTranslate.picto-hover(src="src/images/picto-camera-dashed-hover.svg" data-translationid="alt-btn-video" data-translationtype="alt" alt="voir les vidéos")
      
  +popup("paper")
    h2.title.toTranslate(data-translationid="chapter4_long-text_title" data-translationtype="html") Mini, femme et LIBRE
    p.text.toTranslate(data-translationid="chapter4_long-text_paragraph1" data-translationtype="html") Courte, sexy, cette jupe est un vêtement décliné en différents modèles variés : évasée, moulante, droite, plissée, imprimée...   
    p.text.toTranslate(data-translationid="chapter4_long-text_paragraph2" data-translationtype="html") Accordée avec une paire de chaussures à talons, la mini-jupe met en valeur les jambes des femmes. Elle s’adapte également à toutes les morphologies grâce à ses différentes coupes. 
  +popup("photo")
    .slide-container   <!-- les alts sont laissés vides pour éviter la redondance avec la légende --> 
      .slide-element.visible
        img.popup-img(src="src/images/mini-jupe/popup-mini-jupe-1.jpg" alt=" ")
        .popup-caption 
          p.toTranslate(data-translationid="chapter4_image_label1" data-translationtype="html") 6 juin 2015 : la journée de la mini-jupe à Tunis
  +popup("video") 
    .slideshow  
      .slide.visible
        .video-container
         <iframe width="560" height="315" src="https://www.youtube.com/embed/lcMmEis7o9U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      .slide.hidden
        .video-container
         <iframe width="560" height="315" src="https://www.youtube.com/embed/2R35303JW5c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      .slide.hidden
        .video-container
         <iframe width="560" height="315" src="https://www.youtube.com/embed/h-c5TnDWdGI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

append scripts
  //-additional scripts
