extends ../layout/layout.pug

block title
  title DECODE - Sommaire

append styles
    //- additional styles
    link(href="./styles/pages/summary.min.css", rel="stylesheet")

block vars
  //- variables
  - var bodyClass = 'summary'
  - var withHeader = 'false'
  - var isLanding = 'true'
 
block content 
  //- page content
  .content-wrapper
    #summary-container
      a.summary-link(href="../sous-vetement.html")
        #summary-item-lingerie.summary-item
          #overlay-item-lingerie.overlay-item
            h1.summary-title.toTranslate(data-translationid="chapter1_title" data-translationtype="html") LE SOUS-VETEMENT
      a.summary-link(href="../bikini.html")
        #summary-item-bikini.summary-item
          #overlay-item-bikini.overlay-item
            h1.summary-title.toTranslate(data-translationid="chapter2_title" data-translationtype="html") LE BIKINI
      a.summary-link(href="../pantalon.html")
        #summary-item-pantalon.summary-item
          #overlay-item-pantalon.overlay-item
            h1.summary-title.toTranslate(data-translationid="chapter3_title" data-translationtype="html") LE PANTALON
      a.summary-link(href="../mini-jupe.html")
        #summary-item-mini-jupe.summary-item
          #overlay-item-mini-jupe.overlay-item
            h1.summary-title.toTranslate(data-translationid="chapter4_title" data-translationtype="html") LA MINI-JUPE
      a.summary-link(href="../destroy.html")
        #summary-item-destroy.summary-item
          #overlay-item-destroy.overlay-item
            h1.summary-title.toTranslate(data-translationid="chapter5_title" data-translationtype="html") LES PIECES DESTROY
      a.summary-link(href="../jupe-homme.html")
        #summary-item-jupe-homme.summary-item
          #overlay-item-jupe-homme.overlay-item
            h1.summary-title.toTranslate(data-translationid="chapter6_title" data-translationtype="html") LA JUPE POUR HOMME

append scripts
  //-additional scripts