extends ../layout/layout-2.pug

include ../components/popup.pug

block title
  title DECODE - Le sous vêtement

append styles
  //- additional styles
  link(href="./styles/pages/underwear.min.css", rel="stylesheet")

block vars
  //- variables
  - var bodyClass = 'underwear'
  - var withHeader = 'true'



block content
  //- page content
  .content-wrapper
    h1.title.toTranslate(data-translationid="chapter1_title" data-translationtype="html") le sous-vêtement
    .block-content.flex  
      .block-content__left
        p.description.toTranslate(data-translationid="chapter1_description" data-translationtype="html") L'histoire de la lingerie féminine remonte à l’Antiquité. Bandage, chemise, corset, soutien-gorge... Le sous-vêtement subit d'énormes transformations au fil des années.
        .anchor-jh
          img.anchor-jh-img(src="src/images/jupe-homme/anchor.svg" alt=" ")
          img.anchor-jh-hover(src="src/images/jupe-homme/anchor-hover.png" alt=" ")
      .block-content__middle
        .picto-container
          img.picto-helm(src="src/images/picto-helm.svg" alt=" ")
          .picto-element.picto-element__photo#js-picto-photo
            img.toTranslate.picto(src="src/images/picto-photo-dashed.svg" data-translationid="alt-btn-photo" data-translationtype="alt" alt="voir les ressources visuelles")
            img.toTranslate.picto-hover(src="src/images/picto-photo-dashed-hover.svg" data-translationid="alt-btn-photo" data-translationtype="alt" alt="voir les ressources visuelles")
          .picto-element.picto-element__paper#js-picto-paper
            img.toTranslate.picto(src="src/images/picto-paper-dashed.svg" data-translationid="alt-btn-text" data-translationtype="alt" alt="lire la description")
            img.toTranslate.picto-hover(src="src/images/picto-paper-dashed-hover.svg" data-translationid="alt-btn-text" data-translationtype="alt" alt="lire la description")
          .picto-element.picto-element__camera#js-picto-video
            img.toTranslate.picto(src="src/images/picto-camera-dashed.svg" data-translationid="alt-btn-video" data-translationtype="alt" alt="voir les vidéos")
            img.toTranslate.picto-hover(src="src/images/picto-camera-dashed-hover.svg" data-translationid="alt-btn-video" data-translationtype="alt" alt="voir les vidéos")
     
  +popup("paper")
    h2.title.toTranslate(data-translationid="chapter1_long-text_title" data-translationtype="html") Quels sont vos gouts?
    p.text.toTranslate(data-translationid="chapter1_long-text_paragraph1" data-translationtype="html") Visible ou invisible, le sous-vêtement trouve toute sa splendeur et son élégance dans le confort. Il offre aux femmes une allure plus audacieuse dans l’habillement.
    p.text.toTranslate(data-translationid="chapter1_long-text_paragraph2" data-translationtype="html") Que ce soit un body, un boxer, un corset, un maillot de corps, un tanga ou encore le basique soutien-gorge, ces sous-vêtements répondent aux besoins des femmes, peu importe leur morphologie.
  +popup("photo") 
    .slide-container
      .slide-element
        img.popup-img(src="src/images/underwear/popup-underwear-1.jpg" alt=" ")
        .popup-caption 
          p.toTranslate(data-translationid="chapter1_image_label1" data-translationtype="html") Madonna et son corset Jean-Paul Gaultier
  +popup("video") 
    .slideshow
      .slide-element
        .video-container
          iframe(width="560" height="315" src="https://www.youtube.com/embed/QssFcT6PRiQ?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
      .slide-element
        .video-container
          iframe(width="560" height="315" src="https://www.youtube.com/embed/e3H-xkgRsJA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>)

    
append scripts
  //-additional scripts
