extends ../layout/layout.pug

block title
  title DECODE - Sommaire

append styles
    //- additional styles
    link(href="./styles/pages/summary.min.css", rel="stylesheet")

block vars
  //- variables
  - var bodyClass = 'summary'
  - var withHeader = 'false'
  - var isLanding = 'true'
 
block content 
  //- page content
  .content-wrapper
    #summary-container
      a.summary-link(href="../underwear.html")
        #summary-item-lingerie.summary-item
          #overlay-item-lingerie.overlay-item
            h1.summary-title SOUS-VETEMENT
      a.summary-link(href="#")
        #summary-item-bikini.summary-item
          #overlay-item-bikini.overlay-item
            h1.summary-title BIKINI
      a.summary-link(href="#")
        #summary-item-pantalon.summary-item
          #overlay-item-pantalon.overlay-item
            h1.summary-title PANTALON
      a.summary-link(href="#")
        #summary-item-mini-jupe.summary-item
          #overlay-item-mini-jupe.overlay-item
            h1.summary-title MINI-JUPE
      a.summary-link(href="#")
        #summary-item-destroy.summary-item
          #overlay-item-destroy.overlay-item
            h1.summary-title PIECES DESTROY
      a.summary-link(href="#")
        #summary-item-jupe-homme.summary-item
          #overlay-item-jupe-homme.overlay-item
            h1.summary-title JUPE POUR HOMME

append scripts
  //-additional scripts