extends ../layout/layout.pug

block title
  title DECODE - Le sous vêtement

append styles
  //- additional styles
  link(href="./styles/pages/underwear.min.css", rel="stylesheet")

block vars
  //- variables
  - var bodyClass = 'underwear'
  - var withHeader = 'true'


block content
  //- page content
  .content-wrapper
    h1.title le sous vêtement
    p.description L'histoire de la lingerie féminine remonte à l’Antiquité. Bandage, chemise, corset, soutien-gorge, monokini, string... Le sous-vêtement subit d'énormes transformations au fil des années. Des sous-vêtements comme la lingerie dentelle vont s'identifier à une figure de l’érotisme.
    img.picto-helm(src="src/images/picto-helm.svg" alt="")

    
append scripts
  //-additional scripts
