extends ../layout/layout.pug

block title
  title DECODE - Sous vêtements

append styles
//- additional styles

block vars
  //- variables
  - var bodyClass = 'underwear'
  - var withHeader = 'true'


block content
  //- page content
  .content-wrapper

    
append scripts
  //-additional scripts
