extends ../layout/layout-2.pug

include ../components/popup.pug

block title
  title DECODE - Le sous vêtement

append styles
  //- additional styles
  link(href="./styles/pages/underwear.min.css", rel="stylesheet")

block vars
  //- variables
  - var bodyClass = 'underwear'
  - var withHeader = 'true'



block content
  //- page content
  .content-wrapper
    h1.title.toTranslate(data-translationid="chapter1_title" data-translationtype="html") le sous-vêtement
    .block-content.flex  
      .block-content__left
        p.description.toTranslate(data-translationid="chapter1_description" data-translationtype="html") L'histoire de la lingerie féminine remonte à l’Antiquité. Bandage, chemise, corset, soutien-gorge... Le sous-vêtement subit d'énormes transformations au fil des années.
      .block-content__middle
        .picto-container
          img.picto-helm(src="src/images/picto-helm.svg" alt="")
          .picto-element.picto-element__photo
            img.picto(src="src/images/picto-photo-dashed.svg" alt="")
            img.picto-hover(src="src/images/picto-photo-dashed-hover.svg" alt="")
          .picto-element.picto-element__paper#js-picto-paper
            img.picto(src="src/images/picto-paper-dashed.svg" alt="")
            img.picto-hover(src="src/images/picto-paper-dashed-hover.svg" alt="")
          .picto-element.picto-element__camera
            img.picto(src="src/images/picto-camera-dashed.svg" alt="")
            img.picto-hover(src="src/images/picto-camera-dashed-hover.svg" alt="")
      .block-content__right
  +popup("paper")
    h3.title petite histoire des sous-vêtements
    p.text A leurs débuts, les sous-vêtements protégeaient l’homme contre la friction et la gêne provoquée par les vêtements, et contre les rigueurs du climat. Aujourd'hui, ils sont devenus des éléments de style, pouvant avoir une fonction érotique.  
    p.text Visibles ou invisibles, ils trouvent toute leur splendeur et leur élégance dans le confort, donnant une touche d'audace aux tenues des femmes comme des hommes. Body, boxer, caleçon, débardeur, shorty, slip, string, tanga, soutien-gorge... sont quelques exemples qui illustrent la diversité de ce type de vêtement.

    
append scripts
  //-additional scripts
