mixin popup(type)
  if type === "video"
    .popup-video#popup-video
      button.cross(type="button" aria-label="retour au chapitre en cours")
        span.cross-bar
      //- .right-arrow
      //- .left-arrow
      block
  if type === "photo"
    .popup-photo#popup-photo
      .popup-overlay
      button.cross(type="button" aria-label="retour au chapitre en cours")
        span.cross-bar
      //- .right-arrow
      //- .left-arrow 
      block
  if type === "paper"
    .popup-paper
      figure.paper-open-vert#popup-paper
        button.cross(type="button" aria-label="retour au chapitre en cours")
          span.cross-bar
        img(src="./src/images/bg-paper-transparent.png" alt="")
        figcaption
          block
    .popup-paper-overlay
      button.cross#paper-cross(type="button" aria-label="retour au chapitre en cours")
          span.cross-bar
  if type === "about"
    .popup#popup-about
      button.cross(type="button" aria-label="retour au chapitre en cours")
        span.cross-bar
      h1.popup-title.toTranslate(data-translationid="label-btn-about" data-translationtype="html") à propos
      p#popup-content-about.popup-content.toTranslate(data-translationid="about-text" data-translationtype="html")
        //- | Bikini, mini-jupe, pantalon... leur point commun : le scandale !
        //- | Ce web-documentaire vous fait (re)découvrir le vêtement sous un autre angle.
        //- | Fusion entre onze étudiants du Master 1 Design d’interface multimédia et
        //- | Internet et du Master 1 Innovations en Communication de l’Université Paris 13
        //- | de septembre 2017 à janvier 2018, nous avons conçu ce web-documentaire tiré
        //- | du documentaire <em>Tenue correcte exigée, quand le vêtement fait scandale.</em> (2016)
        //- | pour l’enseignement “Conception et réalisation graphique multimédia”.
        //- | La richesse des archives qu’illustre ce documentaire et les regards croisés
        //- | des différents intervenants nous ont confortés dans ce choix.
        //- | Ce web-documentaire explore les scandales de l’histoire de la mode en y fournissant
        //- | accessibilité et pluralité. C’est pourquoi, nous avons mis un accent sur
        //- | l’accessibilité en proposant une interface et un web-documentaire accessible
        //- | aux personnes malentendantes et sourdes. Nous avons mis un accent sur les
        //- | dispositifs bilingues afin de garantir sa compréhension en anglais et arabe.
      p.popup-content.toTranslate(data-translationid="email-address" data-translationtype="html") E-mail : webdocdimic2017@gmail.com

  if type === "credits"
    .popup#popup-credits
      button.cross(type="button" aria-label="retour au chapitre en cours")
        span.cross-bar
      h1.popup-title.toTranslate(data-translationid="label-btn-credits" data-translationtype="html") crédits
      p.popup-content#popup-content-credits.toTranslate(data-translationid="credits-text" data-translationtype="html")
        //- | Une réalisation d’étudiants de la promotion 2017/2018 en Master 1 Innovations en Communication et Design d'Interfaces Multimédia et Internet de l’Université Paris 13.
        //- br
        //- br
        //- | 		Chef de projet : Sophie GOMIS
        //- br
        //- | 		Responsable qualité  : Rania DRIDI 
        //- br
        //- | 		Responsable design d’expérience : Solenn MASSENGO 
        //- br
        //- | 		Responsable accessibilité : Léa MARIE 
        //- br
        //- | 		Responsable éditorial : Hawa-Kany FOFANA 
        //- br
        //- | 		Responsable des contenus audiovisuels : Khadim DIOUF 
        //- br
        //- | 		Responsable développement: Tojo ANDRIAMANGA 
        //- br
        //- | 		Chargées de contenu : Léa MARIE / Sophie GOMIS 
        //- br
        //- | 		Rédacteurs : Jessica KABASSEMA / Nadia BEN FADHEL / Rania DRIDI / Khadim DIOUF / Cynthia KOFFI 
        //- br
        //- | 		Directeur artistique : Solenn MASSENGO 
        //- br
        //- | 		Designers UX : Solenn MASSENGO / Cheikh DIONE 
        //- br
        //- | 		Designers d’interaction : Solenn MASSENGO / Tojo ANDRIAMANGA / Léa MARIE 
        //- br
        //- | 		Graphiste : Solenn MASSENGO 
        //- br
        //- | 		Intégrateur web : Tojo ANDRIAMANGA / Léa MARIE 
        //- br
        //- | 		Développeurs Front-End : Léa MARIE / Nadia BEN FADHEL 
        //- br
        //- | 		Architecte d'information : Solenn MASSENGO / Cheikh DIONE 
        //- br
        //- br
        //- | 		Merci à Guy Bilisko, Ines Laitano et Hernani Correia pour leur accompagnement.

  if type === "rs"
    .popup#popup-rs
      button.cross(type="button" aria-label="retour au chapitre en cours")
        span.cross-bar
      h1.popup-title réseaux sociaux
      #popup-content-rs.popup-content
        .popup-content-rs-div
          a(href="#" title="notre page facebook")
            img.img-rs(src="../src/images/picto-facebook.png" alt=" ")
            p FACEBOOK
        .popup-content-rs-div
          a(href="#" title="notre page twitter")
            img.img-rs(src="../src/images/picto-twitter.png" alt=" ")
            p TWITTER
        .popup-content-rs-div
          a(href="#" title="notre page instagram")
            img.img-rs(src="../src/images/picto-instagram.png" alt=" ")
            p INSTAGRAM

  if type === "accessibility"
    .popup#popup-accessibility
      button.cross(type="button" aria-label="retour au chapitre en cours")
        span.cross-bar
      h1.popup-title.toTranslate(data-translationid="label-btn-accessibility" data-translationtype="html") accessibilité
      p.popup-content#popup-content-accessibility.toTranslate(data-translationid="accessibility-text" data-translationtype="html")
        //- | Le groupe 2 de l’UE4 s’engage à assurer l’accessibilité de son web documentaire dans le but de le rendre compréhensible au plus grand nombre, et plus particulièrement aux personnes ne parlant pas le français et aux personnes en situation de handicap visuel ou auditif. 
        //- br
        //- br
        //- | Pour ce faire, nous avons veiller à respecter les critères de l’accessibilité tels qu’énoncés par la WAI.
        //- br
        //- br
        //- | Nous avons mis un point d’honneur à respecter plus particulièrement les règles suivantes: 
        //- br
        //- br
        //- | Pour la navigation : le code couleur n’est pas le seul point de repère dans la navigation, les titres sont concis et explicites.
        //- br
        //- | Pour la lisibilité : la police est sans sérif, le contraste de luminosité entre la couleur de police et la couleur de fond est suffisamment net, la taille de police n’est jamais inférieur à 12px, l’utilisation de l’italique et du soulignement est limitée, le texte n’est pas justifié.
        //- br
        //- | Pour les images : la balise alt du code HTML est renseignée dès que nécessaire (et  si elle est renseignée, elle contient une description pertinente de l’image).
        //- br
        //- | Pour les vidéos : elles sont systématiquement sous-titrées, en Français, Arabe et Anglais, il est possible de contrôler le volume sonore et l’avancement de la vidéo.
        //- br
        //- br
        //- | D’une manière générale, notre site est accessible en 3 langues : français, arabe et anglais. Nous avons prêté attention à diversifier les contenus multimédias pour enrichir l’expérience de tous (audio, visuelle, textuelle).
        //- br
        //- br
        //- | Nous avons audité l’accessibilité de notre site internet, et nous avons obtenu la note de





