doctype html
html(lang="fr")

  include ../includes/head.pug


  block vars
    - var bodyClass = 'defaultClass'
    - var withHeader = 'true'


  body(class=bodyClass)

    main.wrapper
      block content

  block scripts
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='/build/translation.min.js')
