doctype html
html(lang="fr")

  include ../includes/head.pug


  block vars
    - var bodyClass = 'defaultClass'
    - var withHeader = 'true'


  body(class=bodyClass)

    main.wrapper
      block content

  block scripts
