doctype html
html(lang="fr")

  include ../includes/head.pug

  block styles
    link(href="./styles/slick/slick-theme.css", rel="stylesheet")
    link(href="./styles/slick/slick.css", rel="stylesheet")

  block vars
    - var bodyClass = 'defaultClass'
    - var withHeader = 'true'


  body(class=bodyClass)
    
    .chapter-page
      include ../includes/header.pug

      main.wrapper
        block content
        img.portrait-mode(src="../src/images/mobile-phone.svg" alt="basculer en mode paysage SVP")

      include ../includes/footer.pug

  block scripts
    script(src='/build/jquery/jquery-3.2.1.min.js')
    script(src='/build/slick/slick.min.js')
    script(src='/build/main.min.js')
