doctype html
html(lang="fr")

  include ../includes/head.pug


  block vars
    - var bodyClass = 'defaultClass'
    - var withHeader = 'false'


  body(class=bodyClass)
    if withHeader == 'true'
      include ../includes/header.pug
    main.wrapper
      block content

    include ../includes/footer.pug
