
.anchor-bikini {
  display: block;
  height: 70px;
  width: 50px;
  text-align: center;
  border-right: dashed 1.5px white;
  margin-left: 8vw;
  margin-top: 6vw;
}

.anchor-bikini-hover {
  display: none;
}

.picto-container {
  position: relative;
  .picto-bow {
    width: 200px;
    display: block;
    margin: 50px auto;
  }
  
  .picto-element-bikini {
    position: absolute;
    cursor: pointer;
    &__photo {
      top: -50px;
      left: -70px;
      transform: rotate(125deg);
    }
    &__paper {
      top: -50px;
      right: -75px;
      transform: rotate(-125deg);
    }
    &__camera {
      bottom: 162px;
      right: 72px;
      transform: rotate(-180deg);
    }
    &:hover {
      .picto {
        display: none;
      }
      .picto-hover {
        display: block;
      }
    }
  }
  .picto, .picto-hover {
    width: 60px;
  }
  .picto-hover {
    display: none;
  }
}

.picto-element-bikini__camera {
  .picto, .picto-hover {
    width: 75px;
  }
}

// RESPONSIVE

@media screen and (max-width: 960px) {
 
  .anchor-bikini {
    display: none;
  }

  .picto-container {
    .picto-element {
      position: absolute;
      &__photo {
        top: -50px;
        right: 230px;
        transform: rotate(130deg);
      }
      &__paper {
        top: -70px;
        left: 180px;
        transform: rotate(-130deg);
      }
      &__camera {
        bottom: -43px;
        right: -60px;
        transform: rotate(-50deg);
      }
    }
  }
}
