.anchor-destroy {
  display: block;
  height: 62px;
  width: 50px;
  text-align: center;
  border-right: dashed 1.5px white;
  margin-left: 8vw;
  margin-top: 6vw;
}

.anchor-destroy-img, .anchor-destroy-hover {
  width: 60px;
}

.anchor-destroy-hover {
  display: none;
}

.picto-container {
  position: relative;
  .picto-pin {
    width: 200px;
    display: block;
    margin: 30px 80px;
    transform: rotate(45deg);
  }
  
  .picto-element-destroy {
    position: absolute;
    cursor: pointer;
    &__photo {
      top: 120px;
      left: 40px;
    }
    &__paper {
      top: 142px;
      right: 65px;
    }
    &__camera {
      top: 130px;
      right: 150px;
    }
    &:hover {
      .picto {
        display: none;
      }
      .picto-hover {
        display: block;
      }
    }
  }
  .picto, .picto-hover {
    width: 60px;
  }
  .picto-hover {
    display: none;
  }
}

.picto-element-destroy__camera {
  .picto, .picto-hover {
    width: 75px;
  }
}

@media screen and (max-width: 960px) {
  .destroy {
    .anchor-destroy {
      display: none;
    }
    .block-content__middle {
      margin-left: 65%;
      padding-top: 0;
      padding-bottom: 15vh;
    }

  }
}