.anchor-jh {
  display: block;
  height: 62px;
  width: 70px;
  text-align: center;
  border-right: dashed 1.5px white;
  margin-left: 8vw;
  margin-top: 6vw;
}

.anchor-jh-img, .anchor-jh-hover {
  width: 60px;
}

.anchor-jh-hover {
  display: none;
}

.picto-container {
  position: relative;
  .picto-tartan {
    width: 300px;
    display: block;
    margin: 50px auto;
    position: relative;
    left: 100px;
  }
  
  .picto-element-jh {
    position: absolute;
    cursor: pointer;
    &__photo {
      top: 130px;
      left: 210px;
      transform: rotate
    }
    &__paper {
      top: -30px;
      right: 160px;
    }
    &__camera {
      top: -30px;
      right: -110px;
    }
    &:hover {
      .picto {
        display: none;
      }
      .picto-hover {
        display: block;
      }
    }
  }
  .picto, .picto-hover {
    width: 60px;
  }
  .picto-hover {
    display: none;
  }
}

.picto-element-jh__camera {
  .picto, .picto-hover {
    width: 75px;
  }
}
