.anchor-mini-jupe {
  display: block;
  height: 30px;
  width: 50px;
  text-align: center;
  border-right: dashed 1.5px white;
  margin-left: 8vw;
  margin-top: 6vw;
  &:hover {
    cursor: pointer;
    border-right: dashed 1.5px black;
    text-align: center;
    .anchor-mj-img {
      display: none;
    }
    .anchor-mj-hover {
      display: block;
      margin: auto;
    }
  }
}

.anchor-mj-img, .anchor-mj-hover {
  width : 30px;
  margin: auto;
}
.anchor-mj-hover {
  display: none;
}

.picto-container {
  position: relative;
  .picto-broderie {
    width: 130px;
    display: block;
    margin: 0 auto;
  }
  
  .picto-element-mj {
    position: absolute;
    cursor: pointer;
    &__photo {
      top: 82px;
      left: -90px;
      transform: rotate(90deg);
    }
    &__paper {
      top: 82px;
      right: -90px;
      transform: rotate(-90deg);
    }
    &__camera {
      bottom: 275px;
      right: 36px;
      transform: rotate(-180deg);
    }
    &:hover {
      .picto {
        display: none;
      }
      .picto-hover {
        display: block;
      }
    }
  }
  .picto, .picto-hover {
    width: 60px;
  }
  .picto-hover {
    display: none;
  }
}

.picto-element-mj__camera {
  .picto, .picto-hover {
    width: 75px;
  }
}
