.anchor-pantalon {
  display: block;
  height: 60px;
  width: 50px;
  text-align: center;
  border-right: dashed 1.5px white;
  margin-left: 8vw;
  margin-top: 6vw;
  padding-right: 10px;
}

.anchor-pantalon-hover {
  display: none;
}

.picto-container {
  position: relative;
  .picto-trace {
    width: 500px;
    display: block;
    position: relative;
    left: 200px;
    top: 100px;
  }
  
  .picto-element-pantalon {
    position: absolute;
    cursor: pointer;
    &__photo {
      top: 140px;
      left: 245px;
    }
    &__paper {
      top: 150px;
      right: 10px;
    }
    &__camera {
      top: 150px;
      right: -170px;
    }
    &:hover {
      .picto {
        display: none;
      }
      .picto-hover {
        display: block;
      }
    }
  }
  .picto, .picto-hover {
    width: 60px;
  }
  .picto-hover {
    display: none;
  }
}

.picto-element-pantalon__camera {
  .picto, .picto-hover {
    width: 75px;
  }
}

// RESPONSIVE

@media screen and (max-width: 960px) {
  body.pantalon {
    .anchor-pantalon {
      display: none;
    }
    .picto-container {
      margin-bottom: 40px;
      .picto-trace {
        top: 0;
        width: 400px;
      }
    }
    .block-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90vw;
      &__left {
        width: 80vw;
        margin-left: -60px;
      }
      &__middle {
        margin-left: -35%;
        transform: translate(-30%,0);
      }
    }

   

  }

}
