//base
@import '../base/color';

.picto-container {
  position: relative;
  .picto-helm {
    width: 231px;
    display: block;
    margin: 0 auto;
  }
  .picto-element {
    position: absolute;
    cursor: pointer;
    &__photo {
      top: -55px;
      left: -60px;
      transform: rotate(130deg);
    }
    &__paper {
      top: -52px;
      right: -65px;
      transform: rotate(-130deg);
    }
    &__camera {
      bottom: -45px;
      right: -65px;
      transform: rotate(-50deg);
    }
    &:hover {
      .picto {
        display: none;
      }
      .picto-hover {
        display: block;
      }
    }
  }
  .picto, .picto-hover {
    width: 60px;
  }
  .picto-hover {
    display: none;
  }
}