extends layout/layout.pug

block title
  title DECODE

append styles
  //- additional styles
  link(href="./styles/pages/landing.min.css", rel="stylesheet")

block vars
  //- variables
  - var bodyClass = 'landing'
  - var withHeader = 'false'
  - var isLanding = 'true'

block content
  //- page content
  video(class="background-video" id="landing-video" loop autoplay muted)
    source(src="/src/video/video-intro.mp4" alt=" ")
    
  .content-wrapper#content-wrapper-landing
    .logo
      img.toTranslate(src='src/images/logo-decode-white.png' data-translationid="alt-decode-logo" data-translationtype="alt" alt="logo de decode")
    
    a.toTranslate(href="sommaire.html" data-translationid="btn-begin" data-translationtype="title" title="commencer")
      button.toTranslate(type="button" id="landing-button" data-translationid="btn-begin" data-translationtype="html") commencer

append scripts
  //-additional scripts


