extends layout/layout.pug

block title
  title Home

append styles
//- additional styles

block vars
  //- variables
  - var bodyClass = 'homepage'

block content
  //- page content
  h1 HOMEPAGE

append scripts
  //-additional scripts

