/* CROSS BAR STYLING */

#cross {
    position: fixed;
    top: 0;
    right: 0;
    background: 0;
    margin: 1em;
    height: 2.7rem;
    width: 3rem;
    z-index: 1;
    outline: 0;
    padding: 0;
    border: 0;
  }
  
  .cross-bar {
    &:before {
      -webkit-transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s -webkit-transform linear;
      transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s -webkit-transform linear;
      transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
      transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear, 0.2s -webkit-transform linear;
      position: absolute;
      background: white;
      margin: 0;
      width: 72%;
      height: 0.2rem;
      content: '';
      top: 40%;
      left: 20%;
      margin: 0;
      transform: rotate(-45deg);
    }
    &:after {
      -webkit-transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s -webkit-transform linear;
      transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s -webkit-transform linear;
      transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
      transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear, 0.2s -webkit-transform linear;
      position: absolute;
      background: white;
      margin: 0;
      width: 72%;
      height: 0.2rem;
      content: '';
      top: 40%;
      left: 20%;
      margin: 0;
      transform: rotate(45deg);
    }
  }

  /* ALL */

    .popup {
        background-color: black;
        opacity: 0.8;
        position: fixed;
        overflow-y: scroll;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 2;
}

    .popup-content {
      padding: auto;
      margin: auto;
      margin-top: 15vh;
      width: 60vw;
      padding-left: 15vw;
      padding-right: 15vw;
}

    .popup-title {
      margin-left: 5vw;
    }

    ::-webkit-scrollbar {
      display: none;
    }

  /* ABOUT */
  #popup-about {
      display: none;
  }
  
  #popup-content-about {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 4vw;
    -moz-column-gap: 4vw;
    column-gap: 4vw;
  }

  /* CREDITS */
  #popup-credits {
    display: none;
  }
  #popup-content-credits {
    margin-bottom: 10vh;
  }

  /* RS */
  #popup-rs {
    display: none;
  }
  
  a {
    text-decoration: none;
  }
  #popup-content-rs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
  }
  
  .img-rs {
    height: 50px;
    margin-bottom: 10px;
  }
  
  .popup-content-rs-div {
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
    font-family: "Abel";
    color: white;
  }