@font-face {
  font-family: 'Abel';
  src: url("../src/fonts/Abel/abel-v8-latin-regular.eot");
  src: url("../src/fonts/FuturaBold/abel-v8-latin-regular.eot") format("embedded-opentype"), url("../src/fonts/FuturaBold/abel-v8-latin-regular.woff") format("woff"), url("../src/fonts/FuturaBold/abel-v8-latin-regular.ttf") format("truetype"), url("../src/fonts/FuturaBold/abel-v8-latin-regular.svg#abel-v8-latin-regular") format("svg"); }
